@font-face {
	font-family: luckiest-guy;
	src: url('./assets/fonts/LuckiestGuy-Regular.ttf');
}
@font-face {
	font-family: rammetto-one;
	src: url('./assets/fonts/RammettoOne-Regular.ttf');
}
@font-face {
	font-family: poppins-regular;
	src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: yellowtail-regular;
	src: url('./assets/fonts/Yellowtail-Regular.ttf');
}
@font-face {
	font-family: poppins-extrabold;
	src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
	font-family: poppins-bold;
	src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: poppins-medium;
	src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
	font-family: poppins-semibold;
	src: url('./assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
	font-family: Itim-Regular;
	src: url('./assets/fonts/Itim-Regular.ttf');
}
.appContainer {
	display: flex;
	flex-direction: row;
	height: 100vh;
}
.container {
	width: 100%;
	/* margin-left: 5%; */
	flex: 1;
	overflow-y: auto;

	height: 100vh;
	background-color: #ffffff;
}
.appContainer {
	box-sizing: border-box;
}
.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}